@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
  font-family: "Brush Script MT", cursive;
}
h1 {
  font-family: "ZCOOL KuaiLe", sans-serif;
  font-size: 3.2rem;
  color: #b71c1c; /* Vermelho tradicional chinês */
  text-shadow: 0.1rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 2rem;
}
img {
  width: 25rem;
  height: 25rem;
}

.container {
  width: 30rem;
  height: 45rem;

  font-size: 1.3rem;
}

button {
  margin-top: 3.5rem;
  background: linear-gradient(
    to bottom,
    #d32f2f,
    #b71c1c
  ); /* Vermelho tradicional chinês */
  color: #ffd700; /* Dourado, remetendo à prosperidade */
  font-family: "Brush Script MT", cursive;
  font-size: 1.4rem;
  padding: 0.8rem 1.3rem;
  border: 0.3rem solid #ffd700; /* Borda dourada */
  border-radius: 0.8rem;
  cursor: pointer;
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  display: inline-block;
  position: relative;
  overflow: hidden;
}

button::before {
  content: "运气"; /* "Sorte" em chinês */
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  font-size: 0.8rem;
  color: rgba(255, 215, 0, 0.7);
}

button:hover {
  background: linear-gradient(to bottom, #b71c1c, #d32f2f);
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-height: 1440px) {
  html {
    font-size: 20px;
  }
  body {
    align-items: center;
  }
}

@media (max-height: 1080px) {
  html {
    font-size: 16px;
  }
  body {
    align-items: center;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 20px;
  }
  body {
    align-items: center;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 14px;
  }
  body {
    align-items: center;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }

  body {
    align-items: center;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
  body {
    overflow-y: hidden;
    overflow-x: hidden;
    touch-action: none;
  }
}
